/* Import Custom Text */
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');


body
{
  padding: 30px;
  background-color: #9bbc0f;
  font-family: 'Press Start 2P', cursive;
  color: #0f380f;
}

#main-title
{
  text-align: center;
}

#pslo
{
  margin: 10px;
  padding: 30px;
  border: 5px solid;
  border-radius: 10px;
  float: left;
  max-width: 40vw;
}

#courses
{
  margin: 10px;
  padding: 30px;
  border: 5px solid;
  border-radius: 10px;
  float: right;
  max-width: 40vw;
}

#faculty>ul>li
{
  border: 10px solid;
  float:left;
  max-width: 40vw;
  display: inline-block;
}

#validation
{
  float:right;
}

#style
{
  float:left;
}
