/* Import Custom Text */
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');


body
{
  background-color: #9bbc0f;
  font-family: 'Press Start 2P', cursive;
  color: #0f380f;
  font-size: 0;
  padding: 1vw;
}

#main-title
{
  text-align: center;
  font-size: 3vw;
}



#pslo
{
  margin: .52vw;
  padding: 1.56vw;
  max-width: 40vw;
  max-height: 32vw;
  border: .27vw solid;
  border-radius: .52vw;
  font-size: 1vw;
  /* inline-block used so that we may display pslo and courses sections
   side by side, even at different resolutions */
  display: inline-block;
  vertical-align: top;
}

#pslo>ol
{
  margin: 2vw;
  padding: 2vw;
}

#courses
{
  margin: .52vw;
  padding: 1.56vw;
  max-width: 40vw;
  max-height: 32vw;
  border: .27vw solid;
  border-radius: .52vw;
  font-size: 1vw;
  display: inline-block;
  vertical-align: top;
}

#courses>ul
{
  margin: 1vw;
  padding: 1vw;
}

#courses>ul>li>ul
{
  margin: 1vw;
  padding: 0;
}

/* nesting of unordered lists so that we may affect
 the nested bullet points in the courses section */
#courses>ul>li>ul>li>ul
{
  margin: 1vw;
  padding: 0;
}

#faculty
{
  margin: .52vw;
  padding: 1.56vw;
  max-width: 88.32vw;
  border: .27vw solid;
  border-radius: .52vw;
  font-size: 1vw;
}

#faculty>ul>li
{
  display: inline-block;
  padding: .15625vw;
  margin: .15625vw;
}

img.pic
{
  border: .26041vw solid;
  padding: .15625vw;
  width: 15vw;
}

#validation
{
  margin: .52vw;
  padding: 1.56vw;
  max-width: 88.32vw;
  border: .26041vw solid;
  border-radius: .52vw;
  font-size: 1vw;
}

#style
{
  margin: .52vw;
  padding: 1.56vw;
  font-size: 1vw;
}
